@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

.fv {
  width: 100%;
  height: 100vh;
}

.fv__inner {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.fv picture,
.fv img {
  display: block;
  width: 100%;
  height: auto;
}

.fv__title-wrap{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.fv__title{
    color: #fff;
    font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Noto Serif JP", serif;
    font-size: px(64);
    font-weight: $weight-regular;
    letter-spacing: px(6.4);
    padding-left: px(36);
}