@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

// 共通パーツ
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.inner {
  width: 100%;
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: px(25);

  @include mq(md) {
    padding-inline: px(29.5);
  }
}
.section-title__en {
  font-family: var(--font-en);
  font-size: px(84);
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: px(3.36);
  text-align: left;
  color: var(--color-main);
  @include mq(md) {
    font-size: px(48);
    letter-spacing: px(1.92);
    line-height: 1.25;
  }
}

.section-title__ja {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  font-size: px(14);
  letter-spacing: px(0.56);
  line-height: 1;
  color: var(--color-main);
  font-weight: 400;
  opacity: 1;

  @include mq(md) {
    font-size: px(12);
    letter-spacing: px(0.48);
    line-height: 1.5;
  }
}
.section-title__bg{
  font-family: var(--font-script);
  font-size: px(120);
  font-weight: 400;
  line-height: 0.71428571;
  letter-spacing: 0;
  text-align: left;
  color: #CA7F1314;
}

.button {
  font-size: px(20);
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  width: px(200);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: px(12) 0;
  text-align: center;
  white-space: nowrap;
  gap: px(26);
  transition: background-color $transition-base, opacity $transition-base;
  background-color: var(--color-accent-2);
  color: #fff;
  line-height: 0.625;
  letter-spacing: px(2);
  border-radius: px(40);
  @include mq(md) {
    width: px(100);
    padding: px(6) px(8.5) px(6) px(9);
    font-size: px(14);
    line-height: 0.63636364;
    letter-spacing: px(1.4);
  }

  @include hover {
    opacity: 1;
    background-color: rgba(148, 158, 51, 0.85);
    color: #fff;
  }
}

// .button の display が .md-show より後から当たり SP でも表示されてしまうため上書き
@include mq(md) {
  .button.md-show {
    display: none !important;
  }
}

.button--secondary {
  font-size: px(16);
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  width: px(160);
  background-color: var(--color-bg-2);
  color: #fff;
  line-height: 0.61538462;
  letter-spacing: px(1.6);
  font-weight: 600;
  padding: px(10) px(43);
  border-radius: px(40);

  @include mq(md) {
    width: px(120);
    padding: px(8) px(32.52) px(6) px(33.48);
    font-size: px(12);
    letter-spacing: px(1.2);
    line-height: 0.6;
  }

  @include hover {
    opacity: 1;
    background-color: rgba(148, 158, 51, 0.85);
    color: #fff;
  }
}

