@use "mixins" as *;

// 表示切り替え（PC / SP）
.md-show{
    display: block;
    @include mq("md"){
        display: none;
    }
}
.u-md-none{
    display: none;
    @include mq("md"){
        display: block;
    }
}
.u-sp-only{
    display: none;
    @include mq("md"){
        display: block;
    }
}

// SP のときだけ改行する <br>（カンプの SP 改行位置に合わせる）
br.u-sp-br{
    display: none;
    @include mq("md"){
        display: inline;
    }
}

// PC のときだけ改行する <br>
br.u-pc-br{
    display: inline;
    @include mq("md"){
        display: none;
    }
}
